<!DOCTYPE html>
<html>
	<head>
		<title>Flashcards</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>
	<body>
		<div class="flashcard-container">
			{% set count = 0 %}

			<div class="flashcard-group question">
				{% for flashcard in flashcards %}
					{% set count = count + 1 %}
					<div class="flashcard question">
						<div class="question">
							{{ flashcard.question }}
						</div>
					</div>
					{% if count % 50 == 0 %}
					</div>
					{% if not loop.last %}
						<div class="flashcard-group question">
						{% endif %}
					{% endif %}
				{% endfor %}
			</div>
		</div>

		<!-- Boucle distincte pour générer les cartes de réponse -->
		<div class="flashcard-container">
			{% set count = 0 %}

			<div class="flashcard-group answer">
				{% for flashcard in flashcards %}
					{% set count = count + 1 %}
					<div class="flashcard answer">
						<div class="answer">
							{{ flashcard.answer }}
						</div>
					</div>
					{% if count % 50 == 0 %}
					</div>
					{% if not loop.last %}
						<div class="flashcard-group answer">
						{% endif %}
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</body>
</html>
